name: "Flutter CI"

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      trigger:
        description: "Manual trigger for deploying auth-microservice"
        required: true
        default: "true"
jobs:
  build:
    name: "Build"
    runs-on: macos-latest

    steps:
      - name: Checkout repository
  
        uses: actions/checkout@v2
  
      - name: Set up JDK 11

        uses: actions/setup-java@v2
        with:
          distribution: 'adopt' #AdoptOpenJDK
          java-version: '11'
      -  name: Install Flutter
         run: |
           java -version
           brew install --cask flutter
           export PATH="$PATH:`flutter/bin/flutter`"
           flutter doctor
  
      - name: Install dependencies
  
        run: flutter pub get
      - name: Install Firebase CLI

        run: npm install -g firebase-tools
  
      - name: Build APK
  
        run: flutter build apk --release
    
      
      # - name: Upload APK to Firebase App Distribution

      #   uses: wzieba/Firebase-Distribution-Github-Action@v1
      #   with:
      #     appId: ${{ secrets.FIREBASE_APP_ID }}
      #     token: ${{ secrets.FIREBASE_TOKEN }}
      #     groups: testers
      #     file: build/app/outputs/flutter-apk/app-release.apk

      - name: Upload APK to Firebase App Distribution
        run: |
          firebase appdistribution:distribute build/app/outputs/flutter-apk/app-release.apk \
          --app ${{ secrets.FIREBASE_APP_ID }} \
          --groups testers
  
      # - name: Build iOS
  
      #   run: flutter build ios --release
      #   env:
      #     CI: true
  
      # - name: Upload APK
  
      #   uses: actions/upload-artifact@v2
      #   with:
      #     name: android-apk
      #     path: build/app/outputs/flutter-apk/app-release.apk
  
      # - name: Upload iOS build
  
      #   uses: actions/upload-artifact@v2
      #   with:
      #     name: ios-build
      #     path: build/ios/ipa/*.ipa
